body {
    font-family: Arial, sans-serif;
    background-color: #c78181;
    
}
.quiz-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ffff;
    background-color: rgb(205, 150, 162);
    border-radius: 10px;
}
.question {
    font-size: 1.2em;
}
.options {
    list-style-type: none;
    padding: 0;
}
.options li {
    margin: 10px 0;
}

